@charset "UTF-8";

@media screen and (min-width: 768px) {
    #logo {
        display: inline;
    }

    header > nav > a {
        
    }

    #banner2 {
        width: 500px;
        height: 500px;
    }

    #banner2img {
        margin: auto;
        margin-bottom: 4.1em;
    }

    div#container-mediaquery {
        display: flex;
        margin: auto;
    }

    div#container-mediaquery > #h1ep {
        width: 386px;
        font-size: 0.9em;
        margin: auto;
        margin-bottom: 9em;
        padding: 0px 15px 0px 0px;
    }

    div#container2-mediaquery {
        background-color: blue;
        display: flex;
    }

    div#container2-img {
        margin: auto;
    }

    #banner3 {
        width: 500px;
        height: 700px;
    }

    div#container2-h1ep {
        width: 337px;
        height: 300px;
        font-size: 0.9em;
        margin: auto;
        padding-bottom: 570px;
        padding-right: 15px;
    }

    article {
        position: relative;
    }

    article #container-caixa {
        display: flex;
        position: absolute;

        top: 90%;
        left: 50%;

        transform: translate(-50%, -30%);
        margin: auto;
    }

    .caixa {
        margin: 0px 5px;
    }
}